@import 'libs/reset.min';
@import 'libs/fonts';
@import 'libs/bootstrap.min';

body {
    font-family: 'Bitter', serif;
}

.container-box {
    width: 1345px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/slider';
@import 'blocks/buttons';
@import 'media';

.translate {
    transform: translateX(270px);
}
.active-menu {
    overflow: hidden;
    background-color: #F6F3EA;
}
.show {
    display: block !important;
}